@page
@model Ticketer.Web.Pages.Home

@{
    Layout = "Shared/_Layout";
}

<div class="row">
<sapn class="display-1">Landing Page TODO</sapn>
    <ul>
        <li>Hero that shows the real app</li>
        <li>Headline: Don't let your event get stuck in the past.</li>
        <li>Get the app in the app stores</li>
        <li>Sign-in with google / apple</li>
        <li>Pricing: Starts at noting for events with < xx. Fee per ticket sold: [not much] </li>
        <li>Become an organizer:</li>
        <li>True digital Tickets - (with full support for pdf/print if that is what the user wants)</li>
        <li>Integrate ticket sales easily to your web site</li>
        <li>Scalper protection</li>
        <li>You control the aftermarket - Earn fees on resales, cap the resale price</li>
        <li>Great app for both Ticket-holders and Ushers</li>
        
        <li>Final CTA: 
        Headline: Don't let your event get stuck in the past.
        Sub-headline: Fans in 2026 expect secure, true digital ticketing. Stop losing sales to scalpers and outdated tech.
        Button: Modernize My Ticketing Now
        Micro-copy: "Join the top tier of top organizers who switched to true digital tickets. Fraud-proof, instant, and fully mobile."
        </li>
    </ul>
</div>
